/* .mana-box {
    width: 16px;
    height: 16px;
    top: 2px;
    display: inline-block;
}

.hundred-thousand-mana-box {
    width: 80px;
    height: 16px;
    top: 2px;
    position: relative;
    display: inline-block;
}

.half-mana-box {
    width: 8px;
    height: 16px;
    top: 2px;
    display: inline-block;
} */

.u0 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 10%, 14.2857143%, 0%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u1 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 20%, 14.2857143%, 10%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u2 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 30%, 14.2857143%, 20%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u3 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 40%, 14.2857143%, 30%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u4 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 50%, 14.2857143%, 40%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u5 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 60%, 14.2857143%, 50%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u6 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 70%, 14.2857143%, 60%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u7 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 80%, 14.2857143%, 70%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u8 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 90%, 14.2857143%, 80%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u9 {
    background-image: -moz-image-rect('/static/img/mana.svg', 0%, 100%, 14.2857143%, 90%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u10 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 10%, 28.5714286%, 0%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u11 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 20%, 28.5714286%, 10%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u12 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 30%, 28.5714286%, 20%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u13 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 40%, 28.5714286%, 30%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u14 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 50%, 28.5714286%, 40%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u15 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 60%, 28.5714286%, 50%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u16 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 70%, 28.5714286%, 60%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u17 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 80%, 28.5714286%, 70%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u18 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 90%, 28.5714286%, 80%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u19 {
    background-image: -moz-image-rect('/static/img/mana.svg', 14.2857143%, 100%, 28.5714286%, 90%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u20 {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 10%, 42.8571429%, 0%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.x {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 20%, 42.8571429%, 10%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.y {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 30%, 42.8571429%, 20%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.z {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 40%, 42.8571429%, 30%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.white {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 50%, 42.8571429%, 40%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.blue {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 60%, 42.8571429%, 50%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.black {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 70%, 42.8571429%, 60%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.red {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 80%, 42.8571429%, 70%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.green {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 90%, 42.8571429%, 80%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.snow {
    background-image: -moz-image-rect('/static/img/mana.svg', 28.5714286%, 100%, 42.8571429%, 90%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.white-blue {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 10%, 57.1428571%, 0%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.white-black {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 20%, 57.1428571%, 10%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.blue-black {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 30%, 57.1428571%, 20%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.blue-red {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 40%, 57.1428571%, 30%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.black-red {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 50%, 57.1428571%, 40%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.black-green {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 60%, 57.1428571%, 50%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.red-white {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 70%, 57.1428571%, 60%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.red-green {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 80%, 57.1428571%, 70%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.green-white {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 90%, 57.1428571%, 80%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.green-blue {
    background-image: -moz-image-rect('/static/img/mana.svg', 42.8571429%, 100%, 57.1428571%, 90%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.white-2 {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 10%, 71.4285714%, 0%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.blue-2 {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 20%, 71.4285714%, 10%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.black-2 {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 30%, 71.4285714%, 20%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.red-2 {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 40%, 71.4285714%, 30%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.green-2 {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 50%, 71.4285714%, 40%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.white-phyrexian {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 60%, 71.4285714%, 50%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.blue-phyrexian {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 70%, 71.4285714%, 60%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.black-phyrexian {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 80%, 71.4285714%, 70%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.red-phyrexian {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 90%, 71.4285714%, 80%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.green-phyrexian {
    background-image: -moz-image-rect('/static/img/mana.svg', 57.1428571%, 100%, 71.4285714%, 90%);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
}

.u1000000 {
    background-image: -moz-image-rect('/static/img/mana.svg', 85.7142857%, 49%, 100%, 0%);
    background-size: 100px 20px;
    height: 20px;
    width: 100px;
    position: relative;
    display: inline-block;
}

.half-white {
    background-image: -moz-image-rect('/static/img/mana.svg', 85.7142857%, 84%, 100%, 79%);
    background-size: 10px 20px;
    height: 20px;
    width: 10px;
    position: relative;
    display: inline-block;
}
